@charset "UTF-8";

@font-face {
  font-family: "Arima Madurai Black";
  src:  url("/fonts/appfonts/ArimaMadurai-Black.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "Nunito Regular";
  src:  url("/fonts/appfonts/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vollkorn Italic";
  src:  url("/fonts/appfonts/Vollkorn-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arima Madurai Medium";
  src:  url("/fonts/appfonts/ArimaMadurai-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ovo Regular";
  src:  url("/fonts/appfonts/Ovo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yrsa Light";
  src:  url("/fonts/appfonts/Yrsa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Great Vibes Regular";
  src:  url("/fonts/appfonts/GreatVibes-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satisfy Regular";
  src:  url("/fonts/appfonts/Satisfy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Bold";
  src:  url("/fonts/appfonts/Nunito-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Scope One Regular";
  src:  url("/fonts/appfonts/ScopeOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}