.activity-record-page {
 input[type="search"]{
    padding-left: 40px;
  }

  #activity_record_table { border-collapse: collapse; }
  #activity_record_table{
  	tr { border: none; }
td {
  border-left: solid 1px black;
  border-right: solid 1px black;
}

th {
  border-left: solid 1px black;
  border-right: solid 1px black;
}
  }

}

#search_activity_date{
	padding-left: 30px;
}


