.events-guests {
    #add-guest-modal {
      height: 42rem;
      max-height: 90%;
    }
  
    input[type="search"] {
      padding-left: 50px;
      font-size: 18px;
    }
    h5.page-title {
      display: inline-block;
    }
    .guest-action {
      // display: flex;
      text-align: right;
      a {
        padding: 0 10px;
        font-size: 14px;
        i {
          margin: 0;
        }
      }
    }
    .switch label {
      left: 180px !important;
    }
  }
  .switch label {
    left: 180px !important;
  }
  
  .guest-profile {
    p.section-short-info {
      font-size: 16px;
      margin-bottom: 20px !important;
    }
  }
  .guestExportModal {
    height: 480px;
  }
  
  .upload-in-process{
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    background: #54b1aa;
    color: #fff;
    padding: 0 1em;
    max-width: 500px;
    border-radius: 0.25em;
    i{
      margin-right: 1em;
    }
  }


  .events-guests{
    .guestProfileShow:hover{
      cursor: pointer;
    }  
    a.invite-btn {
      width: 200px;
      font-size: 14px;
      padding: 0 10px;
    }  
  }
  