<template name="left_navbar">
  <div class="container bmt-side-nav z-depth-2">
    <div class="row">
      <a class="waves-effect waves-dark btn-flat col s12"><i class="material-icons left">business_center</i>Packages</a>
    </div>
    <div class="row">
      <a class="waves-effect waves-dark btn-flat col s12"><i class="material-icons left">business_center</i>Packages</a>
    </div>
    <div class="row">
      <a class="waves-effect waves-dark btn-flat col s12"><i class="material-icons left">business_center</i>Packages</a>
    </div>
    <div class="row">
      <a class="waves-effect waves-dark btn-flat col s12"><i class="material-icons left">business_center</i>Packages</a>
    </div>
    <div class="row">
      <a class="waves-effect waves-dark btn-flat col s12"><i class="material-icons left">business_center</i>Packages</a>
    </div>
  </div>
</template>
